@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-default: #3a5e96;
    --primary-light: #b4d1e7;
    --secondary-default: #9b6cca;
    --secondary-light: #dfbeff;
    --tertiary-default: #ff88bd;
    --tertiary-light: #f3eaff;
    --accent-default: #f0932b;
    --accent-light: rgba(247, 215, 148, 0.8);
    --gray-default: rgb(229 231 235);
    --gray-light: rgb(249 250 251);
    --slate-default: #979797;
    --dark-default: #1f355b;
    --light-default: #fcfdfd;
    --overlay-defualt: rgba(0, 0, 0, 0.05);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-default: #1f355b;
      --primary-light: #304a7f;
      --secondary-default: #4d3b57;
      --secondary-light: #765c7e;
      --tertiary-default: #813648;
      --tertiary-light: #a9666e;
      --accent-default: #b3873e;
      --accent-light: #d6b36d;
      --gray-default: rgb(31 41 55);
      --gray-light: rgb(55 65 81);
      --slate-default: #585859;
      --dark-default: #304a7f;
      --light-default: #121212;
      --overlay-defualt: rgba(255, 255, 255, 0.05);
    }
  }
}
